html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #e6e6e6, #fff7f0, #f2fff9, #fff0ff);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease-in-out infinite;
    color: #4C4C4C;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

[hidden] { 
    display: none !important;
}

button {
    background: none;
    border: none;
    padding: 7px 14px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    color: #ffffff;
    background-color: #429e61;
    font-size: 14px;
    border-radius: 4px;
}

button:hover:enabled {
    background-color: #429e61bb;
}

button:disabled {
    background-color: #b1b1b1;
    cursor: default;
}

img, a {
    border:none;
    outline: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #4c4c4c;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    background: transparent;
    display: fixed;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(46, 46, 46, 0.2);
    border-radius: 6px;
}