
.app {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: min(512px, 80vw);
    min-height: min(256px, 40vw);
    border: solid 1px #f1f1ef;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
