.custodial {
    text-align: center;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .custodial {
        display: block;
    }
}

.custodial-image {
    display: inline-block;
    flex: 1;
}

.custodial-text {
    display: inline-block;
    flex: 1;
}

.custodial-title {
    font-weight: 800;
    padding: 0 12px;
    font-size: 36px;
}

.custodial-message {
    text-align: left;
    padding: 12px 12px 0;
}
