.custodial {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .custodial {
        display: block;
    }
}

.custodial-image {
    display: inline-block;
    flex: 1;
}

.custodial-image-img {
    width: 80%;
    aspect-ratio: 1;
}

.custodial-text {
    display: inline-block;
    flex: 1;
    padding: 0 36px;
}

@media only screen and (max-width: 768px) {
    .custodial-text {
        padding: 0;
    }
}

.custodial-title {
    font-weight: 800;
    padding: 0 12px;
    font-size: 36px;
}

.custodial-message {
    text-align: left;
    padding: 12px 12px 0;
}

.custodial-cta {
    margin-top: 24px;
    display: block;
    margin: auto;
    padding: 16px 36px;
    font-size: 36px;
}

@media only screen and (max-width: 480px) {
    .custodial-cta {
        font-size: 24px;
    }
}

@media only screen and (max-height: 768px) {
    .custodial-cta {
        display: none;
    }
}

