.dash-title {
    text-align: center;
    font-weight: 800;
    padding: 62px 16px 12px;
    font-size: 56px;
}

.dash-subtitle {
    text-align: center;
    margin-bottom: 36px;
}

.dash-footer {
    font-size: 12px;
    color: #bdbdbd;
}

.dash-footer-link {
    cursor: pointer;
    text-decoration: underline;
}
