.dca {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .dca {
        display: block;
    }
}

.dca-image {
    display: inline-block;
    flex: 1;
    max-width: 512px;
    margin: auto;
}

.dca-image-img {
    width: 80%;
    aspect-ratio: 1;
}

.dca-text {
    display: inline-block;
    flex: 1;
    padding: 0 36px;
    max-width: 512px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .dca-text {
        padding: 0;
    }
}

.dca-title {
    font-weight: 800;
    padding: 0 12px;
    font-size: 36px;
}

.dca-message {
    text-align: left;
    padding: 12px 12px 0;
}

.dca-cta {
    display: block;
    margin: 36px auto;
    padding: 16px 36px;
    font-size: 36px;
}

@media only screen and (max-width: 480px) {
    .dca-cta {
        font-size: 24px;
    }
}

@media only screen and (max-height: 768px) {
    .dca-cta {
        display: none;
    }
}
