
.faq {
    margin-top: 1px;
}

.faq-title {
    font-weight: 800;
    padding: 16px 12px;
}

.faq-item {
    border: solid 2px #429e61;
    margin-top: -2px;
}

.faq-item-banner {
    position: relative;
    padding: 25px 36px 25px 12px;
    cursor: pointer;
    color: #429e61;
}

.faq-item-title {
    user-select: none;
    font-weight: 800;
}

.faq-item-chevron {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.faq-item-text {
    padding: 0 40px 25px 12px;
    text-align: justify;
}
