.footer {
    user-select: none;
}

.footer-content-long, .footer-content-short {
    align-items: center;
    font-size: 12px;
    text-align: left;
    width: 100vw;
    height: 24px;
    color: #BDBDBD;
    cursor: default;
}

.footer-content-long {
    display: flex;
}

.footer-content-short {
    display: none;
}

@media only screen and (max-width: 768px) {
    .footer-content-long {
        display: none;
    }

    .footer-content-short {
        display: flex;
    }
}

.footer-left {
    margin-left: 10px;
    flex: 1
}

.footer-right {
    margin-right: 20px;
    cursor: pointer;
}

.footer-right:hover {
    text-decoration: underline;
}

.footer-legal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000020;
}

.footer-legal-popup {
    padding: 16px 32px;
    position: fixed;
    height: 75%;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dbddd6;
    color: #2f323a;
    border-radius: 24px;
    filter: drop-shadow(4px 4px 20px #00000020);
    overflow: scroll;
    overscroll-behavior: contain;
}
