.footer {
    position: absolute;
    bottom: 0
}

.footer-content-long, .footer-content-short {
    align-items: center;
    font-size: 12px;
    text-align: left;
    width: 100vw;
    height: 24px;
    color: #e5e5e5;
    cursor: default;
}

.footer-content-long {
    display: flex;
}

.footer-content-short {
    display: none;
}

@media only screen and (max-width: 768px) {
    .footer-content-long {
        display: none;
    }

    .footer-content-short {
        display: flex;
    }
}

.footer-left {
    margin-left: 8px;
    flex: 1
}

.footer-right {
    margin-right: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .footer-right {
        margin-right: 8px;
    }
}

.footer-right:hover {
    text-decoration: underline;
}
