.front {
    padding: 0 24px;
    height: 100%;
}

.dot {
    color: #bcbfb2;
    cursor: pointer;
}

.dot-selected {
    color: #dbddd6;
    user-select: none;
}

.dots {
    position: absolute;
    display: flex;
    gap: 5px;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}
