.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    height: 64px;
    width: 64px;
    margin: 20px auto;
    border-radius: 8px;
    border: solid 1px #dbddd6;
}
