html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #0a1045, #4d1f53, #1a3f27, #1a3f27, #4d1f53, #0a1045);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 60s ease-in-out infinite;
    color: #f1f1ef;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
    user-select: none;
    cursor: default;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

button {
    background: none;
    border: none;
    padding: 7px 14px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #f1f1ef;
}

button:hover {
    color: #bcbfb2;
}

input {
    min-width: 0;
    background: none;
    border: solid 1px #f1f1ef;
    padding: 7px 14px;
    font: inherit;
    outline: inherit;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #f1f1ef;
}

input::placeholder {
    color: #e5e5e5
}

img, a {
    border:none;
    outline: none;
}

summary {
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.spinner {
    flex: 1;
}

.spinner-icon {
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    background: transparent;
    display: fixed;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c833;
    border-radius: 6px;
}
