

.stats-list {
    display: flex;
}

.stats-item {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.stats-item-value {
    font-size: 36px;
    font-weight: 800;
}

.stats-separator {
    margin: 12px 50px;
    height: 1px;
    background-color: #ececec;
}
