
.status {
    position: absolute;
    width: 256px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.status-image {
    height: 0;
    width: calc(100%);
}

.status-image-icon {
    color: #bebebe;
}

.status-title {
    padding: 0 24px;
    font-weight: 800;
}

.status-message {
    padding: 0 24px;
    font-weight: 400;
}

