
.title {
    display: flex;
    margin: 12px 24px;
    align-items: center;
    justify-content: center;
}

.title-text {
    flex: 1;
    font-size: 24px;
    text-align: center;
}

.title-loader {
    padding: 4px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
