.header {
    height: 56px;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-content {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    color: #ffffff;
    overflow: hidden;
    z-index: 1;
}

.header-content::before {
    content: "";
    position: absolute;
    top: calc(100% - 24px);
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    box-shadow: 0px -24px 0px 80px #429e61;
    z-index: -1;
}

.header-link {
    float: left;
    height: calc(100% - 24px);
    display: table;
    color: #ffffff;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link:visited {
    color: #ffffff;
}

.header-logo {
    height: 40px;
    width: 40px;
    margin: 8px 16px;
}

.header-title {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: large;
}

.header-login {
    float: right;
    height: 40px;
    width: 100px;
    padding: 0;
    border-radius: 1px;
    text-transform: uppercase;
    margin: 8px 16px;
    background-color: #ffffff;
    color: #429e61;
}

.header-login:hover {
    border: 5px solid #ffffff;
    background-color: #429e61;
    color: #ffffff;
}