.link-content {
    background-color: #ffffff;
    border-radius: 24px;
    width: 35%;
    filter: drop-shadow(4px 4px 20px #00000020);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 35vw;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .link-content {
        width: 55%;
        min-height: 55vw;
    }
}

@media only screen and (max-width: 768px) {
    .link-content {
        width: 95%;
        min-height: 95vw;
    }
}

.link-image {
    display: inline-block;
    margin: 16px;
    width: 35%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.link-image-placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.link-image-source {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative
}

.link-title {
    display: block;
    font-weight: bold;
}

.link-description {
    display: block;
}

.link-form {
    margin: 16px 32px;
    text-align: start;
}

.link-form-title {
    display: block;
    padding: 16px 0 4px 0;
}

.link-form-select {
    display: block;
}

.link-form-select-item {
    display: block;
}

.link-form-button {
    display: block;
    margin-top: 8px;
}

.link-form-warning {
    display: block;
    color: #4c4c4c4c;
    font-style: italic;
    padding-top: 4px;
}

.link-form-name {
    display: block;
}

.link-form-message {
    display: block;
}

.link-address {
    display: block;
}

.link-address-qr {
    position: relative;
    display: inline-block;
}

.link-address-text {
    display: block;
}

.link-address-copy {
    display: block;
}

.link-address-back {
    position: absolute;
    left: 25px;
    top: 25px;
}