.login-content {
    background-color: white;
    border-radius: 24px;
    right: 10px;
    top: 5.5em;
    position: fixed;
}

.login-title {
    display: block;
    color: black;
}

.login-field {
    display: block;
}

.login-button {
    display: inline-block;
}

.login-separator {
    display: block;
    color: black;
}

.login-icon {
    display: inline-block;
    color: black;
    cursor: pointer;
}
.login-icon:hover {
    color: gray;
}

.login-link {
    margin: 1em;
    text-decoration: none;
    color: black;
}

.login-link:visited {
    color: black;
}

.login-link:hover {
    text-decoration: underline;
}