.overview {
    padding: 0 16px;
}

.overview-title {
    padding-top: 16px;
    padding-bottom: 4px;
    display: block;
    font-weight: bold;
}

.overview-sub {
    display: block;
    color: #429e61;
    font-weight: lighter;
}

.overview-main {
    display: block;
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 24px;
}

.overview-disclaimer {
    color: #8695a5;
    line-height: 1.5;
    font-size: 12px;
}